services:
  db:
    image: postgres:17
    container_name:  anti_bruteforce_db_test
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB:  anti_bruteforce_db
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user -d calendar" ]
      interval: 5s
      timeout: 10s
      retries: 15
    ports:
      - "5432:5432"
    volumes:
      - sqldatatest:/var/lib/postgresql/data
  migrate:
    image: anti_bruteforce:develop
    container_name: anti_bruteforce_migrate
    build:
      context: ../
      dockerfile: ./Dockerfile
    entrypoint: ["/opt/app/anti_bruteforce"]
    command: ["migrate"]
    depends_on:
      db:
        condition: service_healthy
    environment:
      TYPE: sql
      DSN: "postgresql://user:pass@db:5432/anti_bruteforce_db?sslmode=disable"
  anti_bruteforce:
    image: anti_bruteforce:develop
    container_name: anti_bruteforce_app
    restart: always
    build:
      context: ../
      dockerfile: ./Dockerfile
    entrypoint: ["/opt/app/anti_bruteforce"]
    command: ["serve", "--config", "/etc/anti_bruteforce/config.yaml"]
    depends_on:
      - db
      - migrate
    environment:
      OVERLAPPING: true
      TYPE: sql
      HOST: "0.0.0.0"
      PORT: 80
      DSN: "postgresql://user:pass@db:5432/anti_bruteforce_db?sslmode=disable"
    ports:
      - "80:80"
    volumes:
      - ../configs/config.yaml:/etc/anti_bruteforce/config.yaml
  tests:
    image: anti_bruteforce_tests:develop
    container_name: anti_bruteforce_app_test
    build:
      context: ../
      dockerfile: ./DockerfileTest
    entrypoint: [ "/app/anti_bruteforce-tests" ]
    command: [ "-test.v"]
    depends_on:
      db:
        condition: service_healthy
      anti_bruteforce:
        condition: service_started
volumes:
  sqldatatest:
