# This file is a template, and might need editing before it works on your project.
image: golang:latest

before_script:
  - go mod tidy
  - go mod download

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS && $CI_PIPELINE_SOURCE == "push"
      when: never
    - if: $CI_COMMIT_BRANCH

stages:
    - test
    - build
    - deploy

format:
    stage: test
    script:
      - (which golangci-lint > /dev/null) || curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(shell go env GOPATH)/bin v2.7.2
      - golangci-lint run ./...
    
test:     
    stage: test
    script:
      - CGO_ENABLED=1 go test -race -count 100 $(go list ./...)

compile:
    stage: build
    script:
      - mkdir -p build
      - go build -v -o build/$CI_PROJECT_NAME -ldflags "-X main.release="develop" -X main.buildDate=$CI_JOB_STARTED_AT -X main.gitHash=$CI_COMMIT_SHA" .
    artifacts:
      paths:
        - build

deploy:
    stage: deploy
    rules:
      - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_PIPELINE_SOURCE == "push"
    script: echo "Define your deployment script!"
    environment: production
